# Include tests (but avoid including *.pyc, etc.)
prune test
recursive-include test/rsrc *
include test/*.py

# Include relevant text files.
include LICENSE README.md

# Exclude junk.
global-exclude .DS_Store
